@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  /* background-color: #ffffff;
  background-image: radial-gradient(#dbdbdb 1px, transparent 1px),
    radial-gradient(#dbdbdb 1px, #ffffff 1px);
  background-size: 24px 24px;
  background-position: 0 0, 12px 12px; */
}

html {
  @apply scroll-smooth;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      -100%
    ); /* Move by one-third, since we have three copies of the product array */
  }
}

ul::-webkit-scrollbar {
  display: none;
}
